@import "/home/ravindra/.config/wofi/colors.css";

window {
    border-radius: 24px;
    background-color: alpha(@surface_container_highest, 0.90);
    padding: 16px;
}

#inner-box {
    margin: 0px;
}

#entry {
    background-color: alpha(@surface_variant, 0.8);
    border-radius: 999px;
    margin: 6px;
    padding: 14px 10px;
}

#entry:selected {
    background-color: alpha(@primary, 0.3);
    outline: none;
}

#entry:selected #text {
    color: @on_surface;
}

#text {
    font-size: 15px;
    font-weight: bold;
    color: @on_surface;
    margin-left: 10px;
}
